@import '../../../styles.scss';

.cupcake {
    padding: 10px;
}

mat-checkbox {
    width: 100%;
}

::ng-deep .mat-internal-form-field {
    width: 100%;
}

::ng-deep .mat-internal-form-field>label {
    width: 100%;
}

.value-check-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-container {
    position: absolute;
    bottom: 5px;
    width: 100%;

    .preco {
        width: 80%;
        margin: 20px auto;
        background-color: #C97171;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;

        .finalizar {
            background-color: #9C4949;
            padding: 10px;
            border-radius: 18px;

            &:hover {
                background-color: #9c4949b9;
                cursor: pointer;
            }
        }
    }
}

.pseudo-item {
    width: 100%;
    height: 110px;
}