<div class="perfil">
    <h5>Minha Conta</h5>

    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Nome</span>
            <span matListItemLine>{{usuario?.nome}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Email</span>
            <span matListItemLine>{{usuario?.email}}</span>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Endereço</span>
            <span matListItemLine>{{usuario?.endereco}}</span>
        </mat-list-item>
    </mat-list>
</div>