<div class="pesquisa">
    <mat-form-field appearance="fill">
        <mat-label>Encontre seu cupcake</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<!-- TODO: colocar imagem -->
<!-- <img/> -->

<div class="favoritos padding-padrao">
    <p>Favoritos da Galera</p>

    <swiper-container slides-per-view="auto">
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
        <swiper-slide>
            <app-favorito></app-favorito>
        </swiper-slide>
    </swiper-container>
</div>

<div class="promocao padding-padrao">
    <h5>Não perca a Mega Promoção </h5>
    <p> Na compra de 3 cupcakes você leva 1 cupcake grátis</p>
    <!-- TODO: colocar imagem -->
    <!-- <img/> -->
</div>

<div class="cupcakes-disponiveis padding-padrao">

</div>